@charset "utf-8";
@import url(reset.css);
*, *:after, *:before{box-sizing:border-box;}
body{
    background: #fffcf6 url(../images//top.png) 0 0 repeat-x;
    font: 14px Malgun Ghothic,"맑은고딕",sans-serif;
    color: #555;
    min-width:320px;
}
#header-wrap{
    background:url(../images/blue.png) 0 100% repeat-x;
    margin-bottom: 80px;
}
.header-inner{
    position: relative;
    height: 172px;
}
.header-inner, #container, #footer{max-width:1920px;margin:0 auto}
#header-wrap h1{text-align:center;padding:40px 0 20px 0;}
.util-menu{position: absolute;right: 30px;top: 0;font-size: 12px;}
.util-menu li{float: left;padding-left: 10px;background: url(../images/bar-util.jpg) 0 11px no-repeat;margin-left:8px;}

.util-menu a{color: #fff;display: block;height:38px;line-height:38px;}
#gnb{position: absolute;left: 0;bottom: 0;width: 100%;z-index: 100;}
#gnb > ul > li{width:25%;float: left;position: relative;}
#gnb > ul > li > a{color: #fff;font-size:18px;text-align:center;display: block;height:45px;line-height:45px;}
#gnb ul ul{display: none;position: absolute;left:50%;top:45px;width: 180px;margin-left: -90px;background-color: #fff;border: 1px solid #89D9FE;border-top: none;border-radius: 0 0 7px 7px;font-size:13px;}
#gnb ul ul a{display: block;height: 40px;line-height: 40px;text-align: center;}

#banner{
    height: 200px;
    background-color: white;
}
#footer-wrap{
    height: 140px;
    background-color: #fff;
    border-top: solid 1px black;
    
}

footer #address {
    float:left;
}
footer #link {
    float: right;
    margin-right: 20px;
}
footer #footer_menu {
    margin-top:5px;
    font-size: 12px;
}
footer #company_info{
    font-size: 12px;
}
footer #copyright {
    margin-top:10px;
    font-size:12px;
    color:#888888;
}
footer #link h3 {
    font-size:12px;
    color:#06b5b8;
    margin-top: 5px;
}
footer #link select {
    margin:5px 0 0 50px;
    width:100px;
    height:18px;
    font-size:11px;
}
footer #icons {
    margin-top:5px;
    text-align:right;
}
footer #footer_menu,#company_info{
margin-left: 20px;
}
#gallery_wrap{
        margin: 0 auto;
        width: 100%;
    }
	#gallery_wrap .bx-wrapper{
        margin-bottom: 20px;
    }
	.slider-pager{
        text-align: center;
    }
    .slider-pager li{
        display: inline;
    }
	.img1{
        width: 100%;
        height: 800px;
        text-align: center;
    }
    .img2{
        width: 50px;
        height: 50px;
    	margin-bottom: 100px;
		border-radius: 20px;
    }

	#page{
		width: 1920px;
	}

	#customer{
		width: 300px;
		height: 111px;
		float: left;
		margin-top: 30px;
	}
	#customer .title {
		margin-left:10px;
		float:left;
		margin-bottom: 10px;
	}
	#customer .more {
		float:right;
	}
	#customer .phone {
		margin-left:10px;
	}
	#notice {
		width:300px;
		height:111px;
		float:left;
		margin-top:30px;
		margin-left:40px;
	}
	#notice .title {
		margin-left:10px;
		float:left;
		margin-bottom: 20px;
	}
	#notice .more {
		float:right;
	}
	#notice ul {
		margin-top:12px;
		color:black;
	}
	#notice li {
		font-size: 13px;
		margin-top: 8px;
	}
	#notice .subject {
		float:left;
		margin-left:10px;
	}
	#notice .date {
		float:right;
		margin-right:5px;
	}
	#faq #gamja, #faq #loopy{
		width: 120px;
		height: 140px;
		margin-left: 20px;
		margin-top: 30px; 
	}
	#faq #jejubanner, #tour{
		width: 450px;
		height: 140px;
		margin-left: 20px;
		margin-top: 30px; 
	}

	.line{
		margin-top: 10px;
		border-top: solid 3px #89D9FE;
	}
	.trip_box{
		display: inline-block;
		width: 300px;
		height: 160px;
		margin: 20px;
		border:solid 2px #89D9FE;
		border-radius: 10px;
		background-color: white;
		text-align: center;
	}
	#trip_box{
		text-align: center;
	}
	#trip_box h4{
		margin-top: 5px;
	}
	.place{
		font-size: 25px;
		font-weight: bold;
		font-family: 메이플스토리;
	}
	.small_pic{
		float: left;
		width: 80px;
		height: 50px;
		margin-left: 20px;
		border-radius: 5px;
	}
	.word{
		float: auto;
		font-size: 20px;
		font-family: 메이플스토리;
	}
	.small_word{
		float: auto;
		font-size: 12px;
		font-family: 메이플스토리;
		margin-top:  3px;
	}
	
	#clear {
		clear:both;
	}
	@font-face{
		font-family: 'maple';
		src:url('../src/main/webapp/main/font/Maplystory Bold.ttf') format('truetype');
		src:url('../src/main/webapp/main/font/Maplystory Bold.ttf') format('truetype');
	}
